.travelTrucksContainer {
  max-width: 1312px;
  margin: 0 auto;
}

.travelTrucksHeader {
  color: #f7f7f7;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 0;
  margin-top: 240px;
  letter-spacing: 1.5px;
  font-family: Inter, sans-serif;
}
.travelTrucksSubheader {
  color: #f7f7f7;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  letter-spacing: 0.5px;
  font-family: Inter, sans-serif;
  margin-bottom: 40px;
}
.travelTrucksButton {
  background-color: #e44848;
  width: 173px;
  height: 56px;
  /* padding: 16px 60px 16px 60px; */
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  /* text-align: left; */
  color: #ffffff;
  border-radius: 20px;
}
